.montserrat-eb-8 {
  font-family: Montserrat-ExtraBold;
  font-size: 8px;
}

.montserrat-eb-10 {
  font-family: Montserrat-ExtraBold;
  font-size: 10px;
}

.montserrat-eb-12 {
  font-family: Montserrat-ExtraBold;
  font-size: 12px;
}

.montserrat-eb-14 {
  font-family: Montserrat-ExtraBold;
  font-size: 14px;
}

.montserrat-eb-16 {
  font-family: Montserrat-ExtraBold;
  font-size: 16px;
}

.montserrat-eb-18 {
  font-family: Montserrat-ExtraBold;
  font-size: 18px;
}

.montserrat-eb-20 {
  font-family: Montserrat-ExtraBold;
  font-size: 20px;
}

.montserrat-eb-24 {
  font-family: Montserrat-ExtraBold;
  font-size: 24px;
}

.montserrat-eb-28 {
  font-family: Montserrat-ExtraBold;
  font-size: 28px;
}

.montserrat-eb-32 {
  font-family: Montserrat-ExtraBold;
  font-size: 32px;
}

.montserrat-eb-34 {
  font-family: Montserrat-ExtraBold;
  font-size: 34px;
}

.montserrat-eb-40 {
  font-family: Montserrat-ExtraBold;
  font-size: 40px;
}

.montserrat-eb-44 {
  font-family: Montserrat-ExtraBold;
  font-size: 44px;
}

.montserrat-eb-48 {
  font-family: Montserrat-ExtraBold;
  font-size: 48px;
}

.montserrat-b-8 {
  font-family: Montserrat-Bold;
  font-size: 8px;
}

.montserrat-b-10 {
  font-family: Montserrat-Bold;
  font-size: 10px;
}

.montserrat-b-12 {
  font-family: Montserrat-Bold;
  font-size: 12px;
}

.montserrat-b-14 {
  font-family: Montserrat-Bold;
  font-size: 14px;
}

.montserrat-b-16 {
  font-family: Montserrat-Bold;
  font-size: 16px;
}

.montserrat-b-18 {
  font-family: Montserrat-Bold;
  font-size: 18px;
}

.montserrat-b-20 {
  font-family: Montserrat-Bold;
  font-size: 20px;
}

.montserrat-b-24 {
  font-family: Montserrat-Bold;
  font-size: 24px;
}

.montserrat-b-28 {
  font-family: Montserrat-Bold;
  font-size: 28px;
}

.montserrat-b-32 {
  font-family: Montserrat-Bold;
  font-size: 32px;
}

.montserrat-b-34 {
  font-family: Montserrat-Bold;
  font-size: 34px;
}

.montserrat-b-40 {
  font-family: Montserrat-Bold;
  font-size: 40px;
}

.montserrat-b-44 {
  font-family: Montserrat-Bold;
  font-size: 44px;
}

.montserrat-b-48 {
  font-family: Montserrat-Bold;
  font-size: 48px;
}

.montserrat-sb-8 {
  font-family: Montserrat-SemiBold;
  font-size: 8px;
}

.montserrat-sb-10 {
  font-family: Montserrat-SemiBold;
  font-size: 10px;
}

.montserrat-sb-12 {
  font-family: Montserrat-SemiBold;
  font-size: 12px;
}

.montserrat-sb-14 {
  font-family: Montserrat-SemiBold;
  font-size: 14px;
}

.montserrat-sb-16 {
  font-family: Montserrat-SemiBold;
  font-size: 16px;
}

.montserrat-sb-18 {
  font-family: Montserrat-SemiBold;
  font-size: 18px;
}

.montserrat-sb-20 {
  font-family: Montserrat-SemiBold;
  font-size: 20px;
}

.montserrat-sb-24 {
  font-family: Montserrat-SemiBold;
  font-size: 24px;
}

.montserrat-sb-28 {
  font-family: Montserrat-SemiBold;
  font-size: 28px;
}

.montserrat-sb-32 {
  font-family: Montserrat-SemiBold;
  font-size: 32px;
}

.montserrat-sb-34 {
  font-family: Montserrat-SemiBold;
  font-size: 34px;
}

.montserrat-sb-40 {
  font-family: Montserrat-SemiBold;
  font-size: 40px;
}

.montserrat-sb-44 {
  font-family: Montserrat-SemiBold;
  font-size: 44px;
}

.montserrat-sb-48 {
  font-family: Montserrat-SemiBold;
  font-size: 48px;
}

.montserrat-m-8 {
  font-family: Montserrat-Medium;
  font-size: 8px;
}

.montserrat-m-10 {
  font-family: Montserrat-Medium;
  font-size: 10px;
}

.montserrat-m-12 {
  font-family: Montserrat-Medium;
  font-size: 12px;
}

.montserrat-m-14 {
  font-family: Montserrat-Medium;
  font-size: 14px;
}

.montserrat-m-16 {
  font-family: Montserrat-Medium;
  font-size: 16px;
}

.montserrat-m-18 {
  font-family: Montserrat-Medium;
  font-size: 18px;
}

.montserrat-m-20 {
  font-family: Montserrat-Medium;
  font-size: 20px;
}

.montserrat-m-24 {
  font-family: Montserrat-Medium;
  font-size: 24px;
}

.montserrat-m-28 {
  font-family: Montserrat-Medium;
  font-size: 28px;
}

.montserrat-m-32 {
  font-family: Montserrat-Medium;
  font-size: 32px;
}

.montserrat-m-34 {
  font-family: Montserrat-Medium;
  font-size: 34px;
}

.montserrat-m-40 {
  font-family: Montserrat-Medium;
  font-size: 40px;
}

.montserrat-m-44 {
  font-family: Montserrat-Medium;
  font-size: 44px;
}

.montserrat-m-48 {
  font-family: Montserrat-Medium;
  font-size: 48px;
}

.montserrat-r-8 {
  font-family: Montserrat-Regular;
  font-size: 8px;
}

.montserrat-r-10 {
  font-family: Montserrat-Regular;
  font-size: 10px;
}

.montserrat-r-12 {
  font-family: Montserrat-Regular;
  font-size: 12px;
}

.montserrat-r-14 {
  font-family: Montserrat-Regular;
  font-size: 14px;
}

.montserrat-r-16 {
  font-family: Montserrat-Regular;
  font-size: 16px;
}

.montserrat-r-18 {
  font-family: Montserrat-Regular;
  font-size: 18px;
}

.montserrat-r-20 {
  font-family: Montserrat-Regular;
  font-size: 20px;
}

.montserrat-r-24 {
  font-family: Montserrat-Regular;
  font-size: 24px;
}

.montserrat-r-28 {
  font-family: Montserrat-Regular;
  font-size: 28px;
}

.montserrat-r-32 {
  font-family: Montserrat-Regular;
  font-size: 32px;
}

.montserrat-r-34 {
  font-family: Montserrat-Regular;
  font-size: 34px;
}

.montserrat-r-40 {
  font-family: Montserrat-Regular;
  font-size: 40px;
}

.montserrat-r-44 {
  font-family: Montserrat-Regular;
  font-size: 44px;
}

.montserrat-r-48 {
  font-family: Montserrat-Regular;
  font-size: 48px;
}

.montserrat-t-8 {
  font-family: Montserrat-Thin;
  font-size: 8px;
}

.montserrat-t-10 {
  font-family: Montserrat-Thin;
  font-size: 10px;
}

.montserrat-t-12 {
  font-family: Montserrat-Thin;
  font-size: 12px;
}

.montserrat-t-14 {
  font-family: Montserrat-Thin;
  font-size: 14px;
}

.montserrat-t-16 {
  font-family: Montserrat-Thin;
  font-size: 16px;
}

.montserrat-t-18 {
  font-family: Montserrat-Thin;
  font-size: 18px;
}

.montserrat-t-20 {
  font-family: Montserrat-Thin;
  font-size: 20px;
}

.montserrat-t-24 {
  font-family: Montserrat-Thin;
  font-size: 24px;
}

.montserrat-t-28 {
  font-family: Montserrat-Thin;
  font-size: 28px;
}

.montserrat-t-32 {
  font-family: Montserrat-Thin;
  font-size: 32px;
}

.montserrat-t-34 {
  font-family: Montserrat-Thin;
  font-size: 34px;
}

.montserrat-t-40 {
  font-family: Montserrat-Thin;
  font-size: 40px;
}

.montserrat-t-44 {
  font-family: Montserrat-Thin;
  font-size: 44px;
}

.montserrat-t-48 {
  font-family: Montserrat-Thin;
  font-size: 48px;
}

/*# sourceMappingURL=index.css.map */
